@font-face {
    font-family: 'picnic';
    src: url('picnic.woff2') format('woff2'); 
}

@font-face {
    font-family: 'helvetica';
    src: url('helvetica-bold.woff2') format('woff2'); 
}

@font-face {
    font-family: 'ocr-a';
    src: url('ocr-a.woff2') format('woff2'); 
}

body {
    background-color: #f4f4f4;
    font-family: 'helvetica', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.body-text {
    position: absolute;
    top: 500px;
    left: 50px;
    width: 300px;
}

#text-1 {
    top: 600px;
    left: 50px;
}

#text-2 {
    top: 650px;
    left: 50px;
}

.gift-container {
    position: absolute;
}

.gift {
    width: 150px; 
    cursor: pointer;
}

#grappling-hook {
    top: 400px;
    left: 200px;
}

#harmonica {
    top: 300px;
    left: 400px;
}

#mug {
    top: 600px;
    left: 700px;
}

#box {
    top: 600px;
    left: 700px;
}

#oil {
    top: 600px;
    left: 700px;
}

#incense {
    top: 600px;
    left: 700px;
}

#lamp {
    top: 600px;
    left: 700px;
}

#butter {
    top: 600px;
    left: 700px;
}

#socks {
    top: 600px;
    left: 700px;
}

#stapler {
    top: 600px;
    left: 700px;
}

#stool {
    top: 600px;
    left: 700px;
}

#stash {
    top: 600px;
    left: 700px;
}

#sunset {
    top: 250px;
    left: 1000px;
}

#tray {
    top: 30px;
    left: 1000px;
}

#painting {
    top: 50px;
    left: 1500px;
}

#info-box {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
    padding: 12px;
    max-width: 250px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    font-family: 'ocr-a', monospace;
    font-size: 14px;

    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

#info-box.visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.path-text {
    font-family: 'picnic', sans-serif; 
    font-size: 50px; 
    fill: #001eff; 
}

#body-text {
    position: absolute;
    top: 500px;
    left: 50px;
    width: 300px;
}
